@model AccountSettingsViewModel;

@{
    /*
     * CODE OWNERS: Michael Reisz
     * OBJECTIVE: Allow the user to view and edit their account settings
     * DEVELOPER NOTES:
     */

    ViewData["Title"] = "Account Settings";
    Layout = "_Layout_w_NB_H_F";
    ViewData["NavIcon"] = "AccountSettings";
}

<div id="account-settings-container">
    <div id="account-settings" class="admin-panel-container flex-item-for-phone-only-12-12 flex-item-for-tablet-up-10-12 flex-item-for-desktop-up-5-12">
        <div class="loading-wrapper" style="display: none;">
            @Html.Partial("~/Views/Shared/_Loader.cshtml")
        </div>
        <div class="admin-panel-content-container">
            <form id="account-settings-form" class="admin-panel-content" autocomplete="off">
                <div class="form-container">
                    <h4 class="form-section-header">User Information</h4>
                    <div class="form-section-container">
                        <div class="form-input flex-item-12-12">
                            <label asp-for="UserName"></label>
                            <div>
                                <input asp-for="UserName" data-original-value="@Model.UserName" readonly disabled />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                            <label asp-for="FirstName"></label>
                            <div>
                                <input asp-for="FirstName" data-original-value="@Model.FirstName" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                            <label asp-for="LastName"></label>
                            <div>
                                <input asp-for="LastName" data-original-value="@Model.LastName" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input flex-item-12-12" style="display: none;">
                            <label asp-for="Email"></label>
                            <div>
                                <input asp-for="Email" data-original-value="@Model.Email" readonly disabled />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-4-12">
                            <label asp-for="PhoneNumber"></label>
                            <div>
                                <input asp-for="PhoneNumber" placeholder="(###) ###-####" data-original-value="@Model.PhoneNumber" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-8-12">
                            <label asp-for="Employer"></label>
                            <div>
                                <input asp-for="Employer" data-original-value="@Model.Employer" />
                                <span asp-validation-for="Employer" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section-header">Update Password</h4>
                    <div class="form-section-container">
                        <div class="form-input flex-item-12-12">
                            <label asp-for="CurrentPassword"></label>
                            <div>
                                <input type="password" asp-for="CurrentPassword" />
                            </div>
                        </div>
                        <div class="form-input flex-item-12-12">
                            <label asp-for="NewPassword"></label>
                            <div>
                                <input type="password" asp-for="NewPassword" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input flex-item-12-12">
                            <label asp-for="ConfirmNewPassword"></label>
                            <div>
                                <input type="password" asp-for="ConfirmNewPassword" />
                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        @Html.AntiForgeryToken()
                    </div>
                    <div class="new-form-button-container form-button-container" style="visibility: hidden;">
                        <button type="button" class="reset-button link-button">Discard Changes</button>
                        <button type="submit" class="submit-button green-button">Update Account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {

    <environment names="Development,CI">
        <script src="~/js/account-settings.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/account-settings.min.js"></script>
    </environment>

}
