@{
    Layout = "_Layout";
}

@section CSS {
    @RenderSection("CSS", required: false)
}

@Html.AntiForgeryToken()

<div id="content-wrapper" class="navbar-offset @((string)ViewData["Title"] == "Content" ? "full-scroll" : "")">
    @await Html.PartialAsync("_Header")
    <div id="content-container">
        @RenderBody()
    </div>
    @await Html.PartialAsync("_Footer")
</div>



@section Scripts {
    @RenderSection("Scripts", required: false)
}
