@page
@model MapQueryAdminWeb.Pages.QueryModel
@{
    ViewData["Title"] = "Query";
}

<h2>Query</h2>

<form action="/query"  method="post">

    <div>
        <label asp-for="pgsqlUsername"></label>: <input asp-for="pgsqlUsername" type="text" data-original-value="@Model.pgsqlUsername" />
                                                 <span asp-validation-for="pgsqlUsername" class="text-danger"></span>
</div>

    <div>
        <label asp-for="pgsqlPassword"></label>: <input asp-for="pgsqlPassword" type="password" data-original-value="@Model.pgsqlPassword" />
                                                 <span asp-validation-for="pgsqlPassword" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="referenceUrl"></label>: <input asp-for="referenceUrl" type="url" data-original-value="@Model.referenceUrl" />
                                                <span asp-validation-for="referenceUrl" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="approverName"></label>: <input asp-for="approverName" type="text" data-original-value="@Model.approverName"/>
                                                <span asp-validation-for="approverName" class="text-danger"></span>
    </div>
    <br />
    <div>
        <span asp-validation-for="queryText" class="text-danger"></span>
        <label asp-for="queryText"></label>:<br /><textarea asp-for="queryText" rows="10" cols="100">@Model.queryText</textarea>
    </div>
    <div>
        <button type="submit">Execute Query</button>
    </div>
    <div>
        @ViewData["result"]
    </div>
</form>