@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MillimanAccessPortal</title>

    @RenderSection("CSS", required: false)

    @Html.Raw(JavaScriptSnippet.FullScript)
    @Html.Partial("~/wwwroot/images/svg-icon-sprites.svg")
    @RenderSection("Scripts", required: false)
</head>
<body>

    @RenderBody()

    <script type="text/javascript">
        var domainValRegex = /@Html.Raw(MapCommonLib.GlobalFunctions.domainValRegex)/;
        var emailValRegex = /@Html.Raw(MapCommonLib.GlobalFunctions.emailValRegex)/;
    </script>


</body>
</html>
