@{
    Layout = "_Layout";
}

@section CSS {
    @RenderSection("CSS", required: false)
}


@await Html.PartialAsync("_Navbar")

<div id="content-wrapper" class="navbar-offset">
    @Html.Partial("_Header")
    <div id="content-container">
        @RenderBody()
    </div>    
    @Html.Partial("_Footer")
</div>



@section Scripts {
    @RenderSection("Scripts", required: false)
}
