@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MillimanAccessPortal</title>

    @RenderSection("CSS", required: false)

    @Html.Raw(JavaScriptSnippet.FullScript)
    @RenderSection("Scripts", required: false)
</head>
<body data-nav-location="@ViewData["NavIcon"]">

    @RenderBody()

    <div id="global-settings"
        data-domain-validation-regex="@Html.Raw(MapCommonLib.GlobalFunctions.domainValRegex)"
        data-email-validation-regex="@Html.Raw(MapCommonLib.GlobalFunctions.emailValRegex)"
        data-max-file-upload-size="@Html.Raw(MapCommonLib.GlobalFunctions.maxFileUploadSize)"
        style="display: none;"
    ></div>

</body>
</html>
