@functions {
    public string GetSelectedClassString(string NavIconFromMainView)
    {
        return ViewData["NavIcon"].ToString() == NavIconFromMainView ? "selected" : "";
    }
}

<nav id="sidebar-nav" class="position-fixed from-top-0 from-left-neg14rem width-18rem">
    <ul>
        <li class="nav-item @GetSelectedClassString("AuthorizedContent")">
            <a asp-controller="AuthorizedContent" asp-action="Index" class="nav-button">
                <h3 class="nav-label">Authorized Content</h3>
                <svg class="nav-icon">
                    <use xlink:href="#content-grid"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item @GetSelectedClassString("AccountSettings")">
            <a asp-controller="Account" asp-action="AccountSettings" class="nav-button">
                <h3 class="nav-label">Account Settings</h3>
                <svg class="nav-icon">
                    <use xlink:href="#user-settings"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item @GetSelectedClassString("ContentAccessAdmin")">
            <a asp-controller="ContentAccessAdmin" asp-action="Index" class="nav-button">
                <h3 class="nav-label">Content Access Admin</h3>
                <svg class="nav-icon">
                    <use xlink:href="#content-access"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item @GetSelectedClassString("ContentPublisher")">
            <a asp-controller="ContentPublishing" asp-action="Index" class="nav-button">
                <h3 class="nav-label">Publish Content</h3>
                <svg class="nav-icon">
                    <use xlink:href="#content-publishing"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item @GetSelectedClassString("ClientAdmin")">
            <a asp-controller="ClientAdmin" asp-action="Index" class="nav-button">
                <h3 class="nav-label">Client Admin</h3>
                <svg class="nav-icon">
                    <use xlink:href="#client-admin"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item @GetSelectedClassString("SystemAdmin")">
            <a asp-controller="SystemAdmin" asp-action="Index" class="nav-button">
                <h3 class="nav-label">System Admin</h3>
                <svg class="nav-icon">
                    <use xlink:href="#system-admin"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item @GetSelectedClassString("UserGuide")">
            <a href="#" class="nav-button">
                <h3 class="nav-label">User Guide</h3>
                <svg class="nav-icon">
                    <use xlink:href="#userguide"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-button" id="contact-button">
                <h3 class="nav-label">Contact Support</h3>
                <svg class="nav-icon">
                    <use onclick="HS.beacon.open();"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="nav-button">
                <button type="submit" class="nav-button">
                    <h3 class="nav-label">Logout</h3>
                    <svg class="nav-icon">
                        <use xlink:href="#logout"></use>
                    </svg>
                </button>
            </form>
        </li>
    </ul>
</nav>