@model MapDbContextLib.Identity.ApplicationUser
<!--Eventually we should use a custom ViewModel since the ApplicationUser has sensitive fields-->

@{
    /*
     * CODE OWNERS: Ben Wyatt
     * OBJECTIVE: Detailed user profile view
     * DEVELOPER NOTES: 
     */
    ViewData["Title"] = "User Administration";
    Layout = "_Layout_w_NB_H_F";
    ViewData["NavIcon"] = "UserAdmin";
}

<h2>User Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            System Administrator?
        </dt>
        @if ((bool)ViewData["isSystemAdmin"] == true)
            {
            <dd>
                Yes
            </dd>
        }
        else
        {
            <dd>
                No
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LockoutEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LockoutEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
