@model IEnumerable<MillimanAccessPortal.Models.HostedContentViewModels.HostedContentViewModel>

@{
    ViewData["Title"] = "Authorized Content";
    Layout = "_Layout_w_NB_H_F";
    ViewData["NavIcon"] = "HostedContent";
}

<!--
<p>
    <a asp-action="Create">Create New</a>
</p> -->


<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.UserGroupId)</th>
        <th>@Html.DisplayNameFor(model => model.Url)</th>
        <th>@Html.DisplayNameFor(model => model.ContentName)</th>
        <th>@Html.DisplayNameFor(model => model.ClientList)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserGroupId)</td>
            <td>@Html.ActionLink("View This", "WebHostedContent", "HostedContent", new { id = item.UserGroupId })</td>
            <!-- Also need action links for content access admin, publishing, etc. depending on roles indicated in item.RoleNames -->
            <td>@Html.DisplayFor(modelItem => item.ContentName)</td>
            <td>@(string.Join("|", item.ClientList.Select(c=>$"{c.Id}-{c.Name}")))</td>
        </tr>
    }
</table>